.News{
  padding: 20px 0 1px;
}
.embed-responsive{
  border: 2px black;
  border-style: solid none none;
  padding: 10px;
}
.text2{
  text-decoration: none;
  color: black;
  cursor: auto;
}
.newsImg{
  width: 70%;
}
.tImage{
  width: 100%;
  cursor: pointer;
}
.newsDiv{
  border: 2px solid black;
  margin:  0 20px 20px;
  box-shadow: 5px 5px;
  display: flex;
}
.newsDiv h1.text{
  margin: 0 !important;
}
@media screen and (min-width: 760px) and (max-width: 991px){
  .newsDiv h1.text{
    font-size: 20px;
  }
}
@media screen and (min-width: 425px) and (max-width: 760px){
  .newsDiv h1.text{
    font-size: 18px;
  }
}
@media screen and (min-width: 300px) and (max-width: 425px){
  .newsDiv h1.text{
    font-size: 16px;
  }
}